.App {
   text-align: center;
   z-index: 1;
}

.star {
   position: absolute;
   background-color: white;
   border-radius: 50%;
   z-index: -1;
   transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
 }

 .planeta {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  right: 2%;
  transform: translate(-50%, -50%);
  /* animation: rotate 10s linear infinite; */
  animation: rotate 50s linear infinite;
}

.luna {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   position: absolute;
   bottom: 30%;
   left: 10%;
   transform: translate(-50%, -50%);
   /* animation: rotate 10s linear infinite; */
   animation: rotate 40s linear infinite;
 }

 .portal {
   width: 130px;
   height: 130px;
   border-radius: 50%;
   position: absolute;
   bottom: -5%;
   right: 0%;
   transform: translate(-50%, -50%);
   /* animation: rotate 10s linear infinite; */
   animation: rotate 10s linear infinite;
 }

 .tierra {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   position: absolute;
   bottom: 0%;
   right: 45%;
   transform: translate(-50%, -50%);
   /* animation: rotate 10s linear infinite; */
   animation: rotate 40s linear infinite;
 }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


.starShine {
   position: absolute;
   bottom: 30%;
   right: 40%;
   width: 3px;
   height: 5px;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 4px 8px ;
   border-radius: 50%;
   animation: scaleAnimation 3s ease-in-out infinite alternate;
 }
 
 @keyframes scaleAnimation {
   0% {
     transform: scale(0.6);
   }
   50% {
     transform: scale(1.8);
   }
   100% {
     transform: scale(0.7);
   }
 }
